.header {
    background-image: linear-gradient(rgba(143, 154, 168, 0.25), rgba(33, 36, 40, 0.438), #212428),
        url('https://baserow-backend-production20240528124524339000000001.s3.amazonaws.com/user_files/FHMomiU08RQb9D9udpcfoBzOUl45svp1_66ed03b2068fb09cf6b2a3611141fee758840530eb8194bf1dd415027fdf0a37.jpg');
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;

}

p {
    color: #9f9f9e !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --bg-dark-translucent: rgba(33, 36, 40, 0.3) !important;
    /* Adjust opacity as needed */
}

.bg-dark {
    background-color: var(--bg-dark-translucent) !important;
}


.header-img {
    height: 300px;
    /* Fixed width */
    /* Desired height */
    object-fit: cover;
    /* Crops while maintaining aspect ratio */
    border: 1px solid #000;

}

body {
    background-color: #212428 !important;
    height: 100%;
    background-size: 100%;
    background-repeat: repeat-y;

}

ul {
    list-style: none;
}

.centered {
    align-items: center;
    text-align: center;
    align-self: center;
}

.tabs {
    width: 90%;
    height: 60px;
    margin: auto;
    display: flex;
    font-size: 15px;
    box-shadow: 15px 10px 19px #1c1e22b5;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.tabs li {
    width: 19%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    cursor: pointer;
}


.tabs li:hover {
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.active {
    font-weight: bolder;
    position: relative;
    z-index: 1;


}

.box {
    gap: 20px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    width: 100%;
    animation: moving 1s ease;
    -webkit-animation: moving 1s ease;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

@keyframes moving {
    from {
        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        opacity: 1;
    }
}

.instagram-media {
    width: 100%;
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}